build/*
debian/build/*
debian/com.github.denispalchuk.bitguarden.debhelper.log
debian/com.github.denispalchuk.bitguarden.substvars
debian/com.github.denispalchuk.bitguarden/
debian/debhelper-build-stamp
debian/files
.vscode/*
