[Desktop Entry]
Name=Valawarden
Comment=Unofficial bitwarden client
Icon=com.github.denispalchuk.bitguarden
Exec=com.github.denispalchuk.bitguarden
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;
Keywords=app;vala;
